body.members,
body.attendances {
    background: #edf2f7;
}

body.home {
    background-image:url('https://source.unsplash.com/1L71sPT5XKc');
}

input[type=date] {
    padding-top:.4rem;
    padding-bottom: .4rem;
}

.header {
    left: 0;
    position: sticky;
    z-index: 10;
    max-width: 165px!important;
}
.student-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}